.vault_pass.txt
genome/genomic.gtf
genome/GCF_000001405.40_GRCh38.p14_genomic.fasta
raw_data
qc_reports
trimmed_reads
ribodepleted_reads
genome/hybrid_genome.gtf
genome/hybrid_genome.fasta
genome/hybrid_annotated.gtf
genome/star_index
ribodepleted_star_alignments
genome/genomic.gff
genome/hybrid_annotated.gff
genome/*
salmon_quantification/*
env.sh
.env.py
.env
logs
ribodepleted_reads.archive
star_alignment/*
trinity/*
*.old
__pycache__
decon_reads
decon_reads.fasta
myco_genome.fasta
salmon_quantification_trinity
multiqc_test
salmon_quantification_trinity.isf
salmon_quantification_trinity.isd
!genome/WSN_annotated_sorted.gff
salmon_quantification.A
ref_seq old stuff
refseq_old_stuff
salmon_quantification_trinity.A
salmon_quantification_star
trinity_independent
bbduk_reads
trinity_genome_guided
bbsplit_reads
ref
fastqc
trimmed_reads_fastp