.vault_pass.txt
genome/genomic.gtf
genome/GCF_000001405.40_GRCh38.p14_genomic.fasta
raw_data
qc_reports
trimmed_reads
ribodepleted_reads
genome/hybrid_genome.gtf
genome/hybrid_genome.fasta
genome/hybrid_annotated.gtf
genome/star_index
ribodepleted_star_alignments
genome/genomic.gff
genome/hybrid_annotated.gff
genome/*
salmon_quantification/*
env.sh
.env.py
.env
logs