title: "Cappable-seq pilot"
subtitle: "Analysis of cappable-seq recovered RNA"

# Set the order of modules

module_order:
  - fastqc
  - cutadapt
  - sortmerna:
      name: "SortMeRNA"
      anchor: "sortmerna"
      info: "SortMeRNA removing human rRNA and mycoplasma total genomic sequences"
  - star:
      name: "STAR"
      anchor: "star"
      info: "This section of the report shows STAR alignment results before salmon quantification"
      path_filters:
        - "star_alignment/*"
  # - samtools:
  #     name: "Samtools-stats"
  #     anchor: "samtools_stats"
  #     info: "This section of the report shows Samtools stats results for the star alignment."
  #     path_filters:
  #       # - "qc_reports/samtools-stats/*_ribodepleted_star.stats"
  - salmon:
      name: "Salmon no cleanup"
      anchor: "salmon_no_cleanup"
      info: "Salmon quantification without myco cleanup"
      path_filters:
        - "salmon_quantification.old/*/*"
  - salmon:
      name: "Salmon after cleanup"
      anchor: "salmon_after_cleanup"
      info: "Salmon quantification after myco cleanup"
      path_filters:
        - "salmon_quantification/*/*"
  - salmon:
      name: "Salmon mapped to trinity"
      anchor: "salmon_mapped_to_trinity"
      info: "Salmon quantification using trinity index"
      path_filters:
        - "salmon_quantification_trinity/*/*"
  - salmon:
      name: "Salmon quantification of star alignment"
      anchor: "salmon_star"
      info: "Salmon quantification using star alignment"
      path_filters:
        - "salmon_star/*/*"
  - bowtie2:
      name: "Bowtie2 QC trinity assembly"
      anchor: "bowtie2_trinity"
      info: "Bowtie2 QC of trinity assembly"
      path_filters:
        - "bowtie2_trinity/*"